.footer {
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .footer {
    margin-top: 64px;
  }
}