.header__search-input {
  display: none;
  border: none;
  background-color: inherit;
  font-size: 14px;
  line-height: 16px;
  flex-grow: 1;
  margin: 0px 8px;
}

.header__search-input:focus {
  outline: none;
}

.header__search-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--light-gray) inset;
  box-shadow: 0 0 0 30px var(--light-gray) inset;
}

@media (min-width: 480px) {
  .header__search-input {
    display: block;
  }
}