.header__search {
  background: var(--light-gray);
  align-items: center;
  border-radius: 20px;
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  display: none;
  order: 1;
}

.header__search--shown {
  display: flex;
}

@media (min-width: 640px) {
  .header__search {
    display: flex;
    width: 272px;
    padding: 8px 16px;
    margin: 0px 32px;
    order: 0;
  }

  @media (min-width: 769px) {
    .header__search {
      width: 393px;
    }
  }
}