.header__search, .header__search--mobile {
  align-items: center;
  background: var(--light-gray);
  border-radius: 20px;
  display: none;
}

.header__search--mobile {
  padding: 8px;
  margin: 0 8px 12px;
}

.header__search--show {
  display: flex;
}

@media (min-width: 640px) {
  .header__search {
    display: flex;
    width: 272px;
    padding: 8px 16px;
    margin: 0px 32px;
  }

  .header__search--mobile, .header__search--show {
    display: none;
  }

  @media (min-width: 769px) {
    .header__search {
      width: 393px;
    }
  }
}