.header__login-button {
  color: var(--blue);
  background-color: var(--white);
  padding: 12px 47.5px;
}

.header__login-button:hover {
  background-color: var(--light-blue);
}

@media (min-width: 640px) {
  .header__login-button {
    margin-left: auto;
    padding: 12px 64px;
  }
}

@media (min-width: 769px) {
  .header__login-button {
    padding: 16px 70px;
  }
}