.product__buttons {
    display: flex;
    gap: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.product__button {
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.product__button--delete {
    background-image: url('../../assets/delete.svg')
}

.product__button--edit {
    background-image: url('../../assets/edit.svg')
}