.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-self: stretch;
}

@media (min-width: 480px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 769px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}