.add-product {
    background-color: var(--light-gray);
    padding: 16px;
}

@media (min-width: 480px) {
    .add-product {
        padding: 32px;
    }
}

@media (min-width: 769px) {
    .add-product {
        padding: 64px calc((100% - 560px) / 2);
        width: 560px;
    }
}