.products__link {
  color: var(--blue);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.products__link::after {
  content: url('../../assets/arrow.svg');
  margin-left: 4px;
  position: relative;
  top: 2px;
}

@media (min-width: 480px) {
  .products__link {
    font-size: 16px;
    line-height: 19px;
  }
}